$width: 400px;

.AddStudent {
  margin-bottom: 30px;
  width: 400px;

  input {
    width: calc($width - 8px);
  }

  input[type=submit] {
    width: 428px;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  form input {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    width: 400px;
  }

}