@use '../../../styles/main';

.BreadcrumbsItem {
    color: black; 
    text-decoration: none;
    color: var(--gray);
    transition: all 0.1s;
}
.BreadcrumbsItem:hover {
    color: var(--azul-turquesa);
}