.Student {
  margin: 10px 0;
  display: grid;
  gap: 10px;
  grid-template-columns: 370px auto;
  text-decoration: none;
  color: black;

  transition: opacity 0.9s ease-in-out, color 0.2s;

  button {
    text-decoration: none;
    padding: 5px 10px;
    cursor: pointer;
    width: fit-content;
    background-color: var(--gray);
    color: white; 
    border-radius: 6px;
    outline: none;
    border: 1px solid transparent;
    text-decoration: none;

    transition: all 0.1s ease;
  }
  button:hover {
    text-decoration: none;
  }
}

.Student:hover {
  color: #217373;
}
.Student:hover button {
  color:white;
  background-color: var(--dark-blue);
}



.--isDeleted {
  color: var(--color3);
  transition: color 0.5s ease;
  
  button {
    display: none;
  }
}

.--isNew {
  opacity: 0.5;
  
  
  button {
    display: none;
  }
}