.Menu {
  display: flex;
  color: white;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  font-size: 20px;
  color: var(--color);
  padding: 16px 32px 16px 38px;

  a {
    color: white;
    text-decoration: none;
    transition: all 0.1s;
    padding: 6px 6px;
    border-bottom: 2px solid transparent;
  }
  a:hover {
    color: #fffafa;
    border-bottom: 2px solid white;
  }
}

.linkActive a {
  border-bottom: 2px solid white;
}
