@use '../../styles/main';

.Groups {
  
}

.StudentInGroup {
    margin-left: 24px;
    display: block;
}
.StudentInGroup a {
    display: block;
    text-decoration: none;
    color: var(--dark-blue);
    cursor: pointer;
    transition: all 0.1s;
    font-size: 20px;
    padding: 4px 0px;
}
.StudentInGroup a:hover {
    color: var(--azul-turquesa);
}